*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #3498db;
    padding: 20px;
}

.boxes{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    padding-bottom: 50px;
}

/* Responsive */

@media only screen and (max-width:500px){
    .boxes{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 40px;
    }

    #btn{
        width: 50%;
    }
}

#btn{
    background-color: black;
    padding: 10px;
    color: white;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
}

#btn:hover{
    background-color: #3498db;
    color: black;
}

.box{
    width: 95%;
    height: 300px;
    background-color: #ecf0f1;
}

.bar{
    background-color: black;
    padding: 6px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.bar i{
    margin: 5px;
    cursor: pointer;
}

textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 20px;
    resize: none;
}